.item {
  display: grid;
  grid-template:
    "content action" auto
    "extra extra" auto / 1fr min-content;
  grid-column-gap: 8px;
  align-items: center;
  margin-bottom: 16px;
  border: 2px solid gray;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.item:hover .item-content:not(:focus)::before {
  color: seagreen;
  opacity: 1;
}

.item-content {
  grid-area: content;
  display: flex;
}

.item-content textarea {
  border: none;
  font-size: inherit;
  flex-grow: 1;
  max-width: 100%;
  cursor: inherit;
  resize: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

.item-content::before {
  counter-increment: item;
  content: counter(item) ".";
  right: 100%;
  margin-right: 4px;
  opacity: 0.3;
  color: black;
  transition: opacity 300ms, color 300ms;
}

.item-content textarea:focus {
  cursor: text;
}

.item-action {
  grid-area: action;
  display: flex;
  gap: 8px;
}

.item-extra {
  grid-area: extra;
  margin-top: 16px;
}
