.tab {
  padding: 16px;
  border: none;
  border-radius: 5px;
  background-color: darkseagreen;
  font-size: 24px;
  text-decoration: none;
  color: black;
  display: block;
  flex-shrink: 0;
  flex-grow: 1;
  text-align: center;
}

.tab:hover:not(.disabled-tab) {
  background-color: lightseagreen;
}

.tab[data-headlessui-state~="selected"] {
  background-color: seagreen;
}

.tab[data-headlessui-state~="selected"]:hover:not(.disabled-tab) {
  background-color: lightseagreen;
}

.disabled-tab.tab,
.disabled-tab.tab[data-headlessui-state~="selected"] {
  color: #dddddd;
  cursor: not-allowed;
}
