.description {
  min-width: 100%;
  font-size: 24px;
  padding: 16px;
  border: 2px solid gray;
  border-radius: 8px;
  margin-bottom: 8px;
  resize: none;
}

.tab-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  width: max-content;
  max-width: 100%;
}

.tab-list:after {
  content: " ";
  flex-grow: 100000;
}
