body {
  margin: 0;
  padding: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

h1,
h2 {
  margin-bottom: 16px;
}

.icon-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.tab .icon-button {
  margin: -8px 4px;
}

.icon-button:hover {
  background-color: #0056b3;
  text-decoration: none;
}

.section {
  margin-bottom: 32px;
  border: 2px solid gray;
  padding: 16px 16px 0 16px;
  border-radius: 8px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border: 2px solid gray;
  padding: 16px;
  border-radius: 8px;
}

.item > *:not(:last-child) {
  margin-right: 8px;
}

.tab {
  padding: 16px;
  border: none;
  border-radius: 5px;
  background-color: darkseagreen;
  margin: 4px;
  font-size: 24px;
  text-decoration: none;
  color: black;
  display: inline-block;
}

.tab:hover {
  background-color: lightseagreen;
}

.selected-tab {
  background-color: seagreen;
}

.selected-tab:hover {
  background-color: lightseagreen;
}

form > * {
  display: block;
  margin-top: 16px;
}

pre {
  white-space: break-spaces;
}
